<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <main>
            <div><h1>Got token.</h1></div>
            <div><h2><%-cfg.access_token%></h2></div>
        </main>
    </body>
</html>
